<a href="https://colab.research.google.com/github/Arta-DS/Primitive-data-types-and-conditional-statements-1/blob/main/DZ_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1

Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.
Примеры работы программы:

word = 'test'
Результат:
es

word = 'testing'
Результат:
t

In [ ]:
# Задача 1
word = input('Введите слово ')
if len(word) % 2 == 1:
    print(word[int(len(word)/2)])
else:
  print(word[int(len(word)/2-1)] + word[int(len(word)/2)])

Введите слово сироп
р

Задание 2

Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

Примеры работы программы:
1.

Введите число:  
1

Введите число:  
4

Введите число:  
6

Введите число:  
0
Результат:
11

Введите число:  
0
Результат:
0

In [ ]:
# Задача 2
number = 0
sum = 0

while True:
  number = int(input('Введите число '))
  if number == 0:
      break
  else:
    sum +=number
print(sum)

Введите число 0
0

Задание 3

Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

Примеры работы программы:
1.

boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
Результат:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
Результат:
Внимание, кто-то может остаться без пары!

In [ ]:
# Задание 3
women_names = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
men_names = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
women_names.sort()
men_names.sort()

if len(women_names) == len(men_names):
  print('Идеальные пары:\n')
  for w_name, m_name in zip(women_names, men_names):
    print(f'{w_name} ' + 'и ' + m_name)
    #print(m_name)
    print ()
else:
  print('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

In [ ]:
# Задание 3
women_names = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
men_names = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
women_names.sort()
men_names.sort()

if len(women_names) == len(men_names):
  print('Идеальные пары:\n')
  for w_name, m_name in zip(women_names, men_names):
    print(f'{w_name} ' + 'и ' + m_name)
    #print(m_name)
    print ()
else:
  print('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

Задача 4

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Пример работы программы:

countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
Результат:

Средняя температура в странах:
Таиланд  -  23.9 С
Германия  -  13.8 С
Россия  -  3.7 С
Польша  -  12.0 С

In [ ]:
# Решение
countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for country, temperatures in countries_temperature:
    avg_temp_cels = sum((temp - 32) * 5/9 for temp in temperatures) / len(temperatures)
    print(f"Средняя температура в странах {country} {avg_temp_cels:.1f}°C")

Средняя температура в странах Таиланд 23.9°C
Средняя температура в странах Германия 13.8°C
Средняя температура в странах Россия 3.7°C
Средняя температура в странах Польша 12.0°C